.description {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
}

.description__line {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  height: 100px;
  width: 100px;
  border-bottom: solid 2px black;
}

.description__title {
  font-size: 44px;
  line-height: 22px;
  color: #2c4058;
  font-weight: bold;
  font-family: "GothamBook";
  text-align: center;
  margin-top: 40px;
  margin-bottom: 100px;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.description__content {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  max-width: 1170px;
  width: 100%;
  position: relative;
  z-index: 2;
}

.description__content-background {
  background-color: #55b7ff;
  height: 470px;
  width: 585px;
  position: absolute;
  left: -215px;
  z-index: 1;
}

.description__content-main {
  height: 470px;
  width: 1170px;
  position: relative;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 70px;
}

.description__content-main__photo {
  height: 470px;
  width: 630px;
  background: url(/img/joel-filipe-151697.png);
  background-position: center;
  background-size: cover;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.description__content-main__text {
  height: 470px;
  width: 482px;
  padding-top: 57px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.description__content-main__text__title {
  display: block;
  font-size: 22px;
  line-height: 24px;
  color: #2c4058;
  font-family: "Gotham", sans-serif;
}

.description__content-main__text__subtitle {
  display: block;
  font-size: 43px;
  line-height: 24px;
  color: #2c4058;
  font-family: "Gotham", sans-serif;
  margin-top: 17px;
  margin-bottom: 40px;
}

.description__content-main__text__content {
  height: 84px;
  font-size: 18px;
  line-height: 30px;
  color: #4b5562;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 35px;
  display: block;
}

.description__content-main__text .click {
  height: 50px;
  width: 190px;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: solid 1px black;
  background-color: #fff;
  text-decoration: none;
  margin-bottom: 60px;
  font-size: 14px;
  line-height: 22px;
  color: #2c4058;
  font-family: "Gotham", sans-serif;
  text-align: center;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.description__content-main__text .click:hover {
  background: -webkit-gradient(linear, right bottom, left top, from(#7e5aff), to(#55b7ff));
  background: linear-gradient(to top left, #7e5aff, #55b7ff);
  color: #fff;
}

.description__content-main__text__location {
  font-size: 18px;
  line-height: 30px;
  color: #2c4058;
  font-family: "Font Awesome", sans-serif;
}

.description__content2 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  margin-top: 140px;
  max-width: 1170px;
  width: 100%;
  position: relative;
  z-index: 2;
}

.description__content2-main {
  height: 470px;
  width: 1170px;
  position: relative;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 70px;
  margin-bottom: 140px;
}

.description__content2-main__photo2 {
  height: 470px;
  width: 630px;
  background: url(/img/photos-1284iH4Hjf4mhNgW.png);
  background-position: center;
  background-size: cover;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.description__content2-background {
  background-color: #7e5aff;
  height: 470px;
  width: 585px;
  position: absolute;
  right: -215px;
  z-index: 1;
}
/*# sourceMappingURL=2PROJECTS.css.map */